html {
    font-size: 62.5%; // 16px * 0.625 = 10px (base-10, helpful for using rem)
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size; // 1.6 * 10px = 16px
    background: $light-blue;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}